.ModalCloseButtonHover {
    padding: 0px 5px;
    position: absolute;
    right: -10px;
    top: -10px;
    color: rgba(0, 0, 0, 0.45);
    border: none;
    background: transparent;
    &:hover {
      background-color: rgba(0, 0, 0, 0.04) !important;
      color: rgba(0, 0, 0, 0.75) !important;
      border: none !important;
    }
  }
  